/* gallery style sheet*/

.gallery-container{
  position: absolute;
  left: 380px;
  margin-left: 40px;
  width: 500px;
  height: 75vh;
  background-color: #ff0000;
  overflow-y: scroll;
  float: left;
  text-align: center;
}

.gallery-no-post{
  position: absolute;
  left: 380px;
  margin-left: 40px;
  width: 500px;
  height: 80vh;
  overflow-y: scroll;
  float: left;
  text-align: center;
}
